.timer-container{
	
	padding: 20px;
	margin: auto;
	align-content: center;
	text-align: center;
}


.time-display{
	
	margin: auto;
	padding: 20px;
}


.timer-button-container{
	display: flex;
	flex-direction: row;

}



